<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }
        .home-text {
            font-size: 3em;
            font-weight: bold;
            color: #333;
            margin-bottom: 20px;
        }
        .sub-text {
            font-size: 1.5em;
            margin-bottom: 40px;
            max-width: 600px;
            line-height: 1.5;
        }
        .login-button {
            padding: 10px 20px;
            font-size: 1em;
            color: white;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
        .login-button:hover {
            background-color: #0056b3;
        }
        .login-button.top-left {
            position: absolute;
            top: 20px;
            left: 20px;
        }
        .login-button.bottom {
            position: absolute;
            bottom: 20px;
        }.contain{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2rem;
        }
    </style>
</head>
<body>
    <a href="/user/login" class="login-button top-left">Login</a>
    <div class="contain">
    <div class="home-text">Welcome to  Storage</div>

    <div class="sub-text">
        Save your media file like  IMAGES and VIDEOS in the CLOUD and access them from anywhere in the world.
        At any time DOWNLOAD uploaded file from cloud !
        </div>
    </div>
    <a href="/user/login" class="login-button bottom">Login</a>
</body>
</html>